.upload-step2-container {
    display: none;
    max-width: 850px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 5px 0;
}
h1, h2, h3, h4, h5, h6, li, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.normal-title-wrp {
    padding: 32px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
container .normal-title-wrp h1 {
    font-size: 20px;
    color: #222;
}

.template-op {
    border: 1px solid #ccd0d7;
    border-radius: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 32px;
    position: relative;
}
.template-op p {
    font-size: 12px;
    color: #99a2aa;
    line-height: 20px;
    margin: 0 20px 0 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.template-op-divide {
    width: 1px;
    height: 10px;
    background-color: #ccd0d7;
}
.normal-title-wrp .template-op img {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.line-white-divide {
    height: 24px;
    background: transparent;
}
.section-title-v2-container {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.cover-v2-detail-wrp .cover-v2-preview {
    width: 200px;
    height: 126px;
    cursor: pointer;
    margin-right: 44px;
    position: relative;
}
ontainer .cover-v2-detail-wrp .cover-v2-selector {
    border: 1px solid #ccd0d7;
    border-radius: 4px;
    padding: 11px 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}
.input-box-v2-1-container {
    background: hsla(0,0%,85%,0);
    border: 1px solid #ccd0d7;
    border-radius: 4px;
    padding: 0 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-transition: border .3s ease;
    transition: border .3s ease;
}
.content-tag-v2-container .content-tag-v2-other-wrp {
    margin-top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.content-tag-v2-other-wrp .content-tag-v2-other-label {
    font-size: 14px;
    color: #222;
    padding-top: 14px;
}
.content-tag-v2-other-tag-wrp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.label-item-v2-2-container {
    text-align: center;
    padding: 0 20px;
    height: 30px;
    border: 1px solid #ccd0d7;
    border-radius: 100px;
    color: #6d757a;
    cursor: pointer;
}
.label-item-v2-2-container p span {
    font-size: 12px;
    line-height: 28px;
}