.bili-header {
	font: 12px 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
	position: relative;
	z-index: 10000;
	background: #fff;
	margin: 0;
	padding: 0;
}

.nav-menu {
	position: relative;
	z-index: 200;
	height: 42px;
	color: #222;
}

.bili-header .nav-menu .blur-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center -10px;
	background-repeat: no-repeat;
	filter: blur(4px);
}

.bili-header .nav-menu .nav-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(0, 0%, 100%, .4);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.bili-header .clearfix::before {
	content: "";
	display: table;
}

.bili-header .clearfix::after {
	clear: both;
	overflow: hidden;
}

.bili-header .nav-wraper {
	min-width: 980px;
}

.bili-header ul {
	list-style: none;
}

.bili-header .fl {
	float: left;
	display: inline;
}

.bili-header .fr {
	float: right;
	display: inline;
}

.nav-item {
	float: left;
	text-align: center;
	line-height: 42px;
	height: 42px;
	position: relative;
	background-color: hsla(0, 0%, 100%, 0);
}

.nav-item.home {
	margin-left: -10px;
	padding-left: 12px;
}

.t {
	color: #222;
	height: 100%;
	display: block;
	padding: 0 7px;
	padding-left: 7px;
}

.nav-menu a:hover {
	color: #222;
	cursor: pointer;
	background-color: hsla(0, 0%, 100%, .5);
}

.nav-menu .nav-con .profile-info a:hover {
	background-color: hsla(0, 0%, 100%, 0);
}

.manga {
	position: relative;
}

.up-load {
	position: relative;
	width: 68px;
	height: 42px;
	margin-left: 8px;
}

.nav-menu .up-load a:hover {
	color: #FFFFFF;
	background-color: #FB7299;
}

.profile-info {
	width: 46px;
}

.u-link {
	display: block;
	width: 100%;
	height: 46px;
	line-height: 42px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background-color: #F45A8D;
	border-radius: 0 0 6px 6px;
	z-index: 400;
}

.profile-info .i-face {
	position: absolute;
	z-index: 20;
	width: 32px;
	height: 32px;
	left: 0;
	top: 0;
	transition: .3s;
}

.profile-info .i-face .face {
	border: 0 solid #fff;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.profile-info .i-face .pendant {
	position: absolute;
	width: 84px;
	height: 84px;
	left: -11px;
	bottom: -3px;
	visibility: hidden;
	transition-delay: 0s;
}

.i_menu_login {
	background: #fff;
	left: 50%;
	width: 260px;
	width: 320px;
	margin-left: -160px;
	padding: 12px;
	text-align: left;
	line-height: normal;
	border: 1px solid #e5e9ef;
}

.bili-header .i_menu_login .img {
	width: 320px;
	height: 200px;
	margin: 12px 0;
	overflow: hidden;
	position: relative;
	background: url(../../images/main/danmu.png) no-repeat 50%;
}

.bili-header .i_menu_login .img img {
	width: 320px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
}

.bili-header fieldset,
.bili-header img {
	border: none;
	vertical-align: middle;
}

.bili-header .i_menu_login .login-btn {
	display: block;
	height: 43px;
	line-height: 43px;
	text-align: center;
	background: #00a1d6;
	border-radius: 4px;
	font-size: 14px;
	color: #fff;
}

.bili-header .i_menu_login a.login-btn:hover {
	background: #00a1d6;
}

.bili-header .i_menu_login .reg {
	margin-top: 8px;
	text-align: center;
	font-size: 12px;
	color: #282828;
}

.bili-header .nav-search-box {
	position: relative;
	float: right;
	margin: 6px 12px 0 0;
}

.bili-header .nav-search {
	position: absolute;
	right: 0;
	width: 32px;
	transition: all 0.2s;
}

.bili-header .nav-search #nav_searchform {
	display: block;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 0 30px 0 8px;
}

.bili-header .nav-search .nav-search-keyword {
	color: #999;
	font-size: 12px;
	overflow: hidden;
	width: 100%;
	height: 28px;
	line-height: 28px;
	border: none;
	box-shadow: none;
	background-color: transparent;
	opacity: 0;
	transition: all 0.2s;
}

.bili-header .showSearch.nav-search .nav-search-submit {
	color: #999;
	font-size: 18px;
	top: 5px;
	right: 7px;
}

.bili-header .nav-search .nav-search-submit {
	position: absolute;
	top: 4px;
	right: 5px;
	cursor: pointer;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 22px;
	color: #999;
	background: none;
	transition: all 0.2s;
}

.bili-header .i_menu_login .reg a {
	color: #00a1d6;
}

.primary-menu .nav-menu .sub-nav {
	display: none;
	position: absolute;
	left: 0;
	overflow: hidden;
	top: 44px;
	background: #fff;
	border: 1px solid\9;
	border-top: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .16);
	border-radius: 0 0 4px 4px;
	z-index: 2;
}

.nav-menu li:hover .sub-nav {
	display: block;
}

.primary-menu .nav-menu .sub-nav li {
	position: relative;
	font-size: 12px;
	line-height: 20px;
	min-width: 120px;
	height: auto;
	overflow: hidden;
	text-align: left;
	transition: all .2s;
}

.primary-menu .nav-menu .sub-nav li>a {
	display: block;
	padding: 5px 15px 5px 25px;
	margin-right: 10px;
	background: url(../../images/main/icons2.png) no-repeat 12px -1613px;
	white-space: nowrap;
	transition: all .2s;
	overflow: hidden;
	position: relative;
	left: 0;
	color: #222;
}

.primary-menu .nav-menu .sub-nav li>a span {
	position: relative;
}

.primary-menu .nav-menu .sub-nav li:hover>a {
	left: 5px;
}

.primary-menu .nav-menu .sub-nav li:hover {
	background-color: #e5e9ef;
}

.primary-menu .nav-menu .sub-nav:not(.square-wrap) li:hover>a span::after {
	right: -21px;
	opacity: 1;
}


/*-----------------------------*/

.top-banner {
	background: #00a0d8;
	height: 86px;
	text-align: center;
	margin-bottom: 20px;
}

.head-banner {
	position: relative;
	z-index: 199;
	width: 100%;
	height: 170px;
	margin-top: -42px;
	background: #eee;
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-image: none;
	background-position: center -10px;
	background-repeat: no-repeat;
}

.bili-header .head-content {
	position: relative;
	height: 170px;
}

.bili-header .search {
	position: absolute;
	bottom: 20px;
	right: 0;
	width: 268px;
	height: 32px;
	padding: 2px 2px 2px 72px;
	background-color: #e5e9ef;
	background-color: rgba(0, 0, 0, .12);
	border-radius: 6px;
	font-size: 12px;
	z-index: 10;
}

.searchform {
	background-color: #fff;
	background-color: hsla(0, 0%, 100%, .88);
	display: block;
	height: 32px;
	border-radius: 4px;
	transition: background-color .2s;
}

.search-keyword {
	float: left;
	width: 200px;
	color: #222;
	font-size: 12px;
	overflow: hidden;
	height: 32px;
	line-height: 32px;
	padding: 0 12px;
	border: 0;
	box-shadow: none;
	background-color: transparent;
}

.search-submit {
	display: block;
	position: absolute;
	right: 0;
	width: 48px;
	min-width: 0;
	cursor: pointer;
	height: 32px;
	background: url(//static.hdslb.com/images/base/icons.png) -653px -720px;
	margin: 0;
	padding: 0;
	border: 0;
}

.link-ranking {
	position: absolute;
	left: 2px;
	top: 2px;
	height: 32px;
	line-height: 32px;
	background-color: #fff;
	background-color: hsla(0, 0%, 100%, .88);
	border-radius: 4px;
	width: 68px;
	transition: background-color .2s;
}

.search a:hover {
	color: #FB7299;
}

.search .link-ranking span {
	padding-left: 26px;
	color: #f25d8e;
	display: inline-block;
	background: url(//static.hdslb.com/images/base/icons.png) -659px -655px no-repeat;
}

.head-logo {
	position: absolute;
	width: 220px;
	height: 105px;
	left: 24px;
	top: 55px;
	background: transparent no-repeat 0;
	background-image: none;
	z-index: 10;
}

.primary-menu {
	position: relative;
	width: 980px;
	height: 50px;
	padding: 8px 0 0;
	margin: 0 auto 4px;
	z-index: 99;
	border-bottom: 1px solid #fff;
}

.primary-menu .nav-menu li.home {
	margin-right: 8px;
	width: 24px;
}

.primary-menu .nav-menu li.home>a {
	width: auto;
	display: block;
	background: url(../../images/main/icons.png) -660px -1170px no-repeat;
}

.primary-menu .nav-menu li.home>a .nav-name {
	position: relative;
	top: 15px;
	line-height: 20px;
}

.primary-menu .nav-menu>li {
	width: 46px;
	text-align: center;
	display: block;
	float: left;
	position: relative;
	margin-right: 0;
}

.primary-menu .nav-menu>li .nav-name {
	display: inline-block;
	vertical-align: middle;
	color: #222;
	font-size: 12px;
	height: 40px;
	padding-top: 8px;
	line-height: 50px;
}

.primary-menu .nav-menu>li .num-wrap {
	position: absolute;
	top: 8px;
	left: 0;
	height: 14px;
	width: 100%;
	text-align: center;
}

.primary-menu .nav-menu>li .num-wrap span {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	transform: scale(.85);
	color: #fff;
	background-color: #ffafc9;
	border-radius: 3px;
	height: 12px;
	line-height: 14px;
	max-width: 28px;
	padding: 1px 3px;
	font-family: sans-serif, sans-serifsans-serif, Calibri, Arial, Helvetica;
	text-align: center;
}

.primary-menu .nav-menu .side-nav {
	margin: 0 3px;
	width: 40px;
	text-align: center;
}

.primary-menu .nav-menu .side-nav .side-link {
	display: inline-block;
	position: relative;
	overflow: hidden;
	zoom: 1;
}

.primary-menu .nav-menu .side-nav .side-link i.zhuanlan {
	background-position: -87px -1814px;
}

.primary-menu .nav-menu .side-nav .side-link i.square {
	background-position: -87px -2006px;
}

.primary-menu .nav-menu .side-nav .side-link i.live {
	background-position: -87px -1878px;
}

.primary-menu .nav-menu .side-nav .side-link i.blackroom {
	background-position: -87px -1942px;
}

.primary-menu .nav-menu .side-nav .side-link i {
	display: block;
	width: 18px;
	height: 18px;
	margin: 3px auto 2px;
	background: url(../../images/main/icons.png) no-repeat;
	background-position-x: 0%;
	background-position-y: 0%;
}

.primary-menu .nav-menu .side-nav .side-link span {
	display: block;
	color: #222;
	margin: 0;
	font-size: 12px;
}

.primary-menu .nav-menu .side-nav .side-link span:hover {
	color: #00FFFF;
}

.nav-gif {
	position: absolute;
	right: 0;
	top: 0;
	height: 50px;
	padding: 4px 0;
}

.gif-menu .random-p {
	width: 69px;
	height: 40px;
	display: inline-block;
	vertical-align: top;
	margin: 3px 0;
	overflow: hidden;
}


/*-------------首页导航--------------*/

.chief-recommend-module {
	padding-bottom: 40px;
}

.chief-recommend-module .carousel-box {
	width: 440px;
	height: 220px;
	float: left;
}

.carousel-module,
.carousel-module .panel {
	position: relative;
	width: 100%;
	height: 100%;
}

.chief-recommend-module .carousel-box .carousel-module .panel {
	border-radius: 4px;
}

.carousel-module .panel {
	overflow: hidden;
}

.carousel-module .panel .pic {
	z-index: 1;
	position: relative;
	transition: all .3s;
	height: 220px;
}

.carousel-module .panel .scrollx {
	float: left;
}

.carousel-module .panel .pic li {
	position: relative;
}

.carousel-module .panel .pic li a {
	display: inline-block;
}

.carousel-module .panel .pic li .more-text {
	position: absolute;
	right: 15px;
	bottom: 35px;
	color: #fff;
	background: #222222;
	background: rgba(0, 0, 0, .64);
	width: 50px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border-radius: 4px;
	opacity: 0;
	transition: all .2s linear;
}

.carousel-module .panel .pic li .more-text {
	color: #fff;
	line-height: 24px;
	text-align: center;
}

.carousel-module .panel .pic li:hover .more-text {
	opacity: 1;
}

.carousel-module .panel .pic li .more-text::after {
	content: "";
	display: inline-block;
	width: 6px;
	height: 12px;
	margin: -2px 0 0 5px;
	vertical-align: middle;
	background: url(../../images/main/icons.png) -541px -218px;
}

.carousel-module .panel .pic li .more-text:hover {
	text-shadow: 0 0 3px #fff;
	color: #fff;
	cursor: pointer;
}

.scroll ol {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.scroll ol li {
	float: left;
	width: 20px;
	height: 20px;
	background: pink;
	text-align: center;
	line-height: 20px;
	border-radius: 50%;
	background-color: pink;
	margin-left: 10px;
	cursor: pointer;
}

.scroll ol li.current {
	background-color: purple;
}

.carousel-module .panel .trig {
	position: absolute;
	z-index: 3;
	bottom: 6px;
	right: 20px;
}

.chief-recommend-module .carousel-box .carousel-module .panel .trig span {
	width: 18px;
	height: 18px;
	background-image: url(../../images/main/icons.png);
	background-position: -855px -790px;
	background-color: transparent;
	transition: none;
}

.carousel-module .panel .trig span {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 8px;
	border-radius: 10px;
	background: #fff;
	background-color: rgb(255, 255, 255);
	background-position-x: 0%;
	background-position-y: 0%;
	background-image: none;
	cursor: pointer;
	transition: all .3s;
}

.chief-recommend-module .carousel-box .carousel-module .panel .trig span.on {
	background-position: -855px -727px;
	width: 18px;
	height: 18px;
}

.chief-recommend-module .carousel-box .carousel-module .panel .trig span:hover {
	background-position: -919px -790px;
}

.chief-recommend-module .recommend-module {
	height: 220px;
}

.recommend-module {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.recommend-module .groom-module {
	float: left;
	margin: 0 0 20px 20px;
}

.groom-module {
	width: 160px;
	height: 100px;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	background: #fff;
}

.groom-module .pic {
	width: 160px;
	height: 100px;
}

.groom-module .card-mark {
	position: absolute;
	left: 0;
	top: 68px;
	width: 150px;
	height: 100%;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	padding: 10px 5px;
	overflow: hidden;
	background: #000;
	background: linear-gradient(transparent, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, .2) 35%, rgba(0, 0, 0, .6) 65%, rgba(0, 0, 0, .9));
}

.groom-module .card-mark .title {
	color: #fff;
	height: 40px;
	overflow: hidden;
	margin-bottom: 5px;
	word-break: break-all;
	word-wrap: break-word;
}

.groom-module .card-mark .author,
.groom-module .card-mark .play {
	opacity: 0;
	color: #99a2aa;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	transition: all .6s;
}

.groom-module:hover .card-mark {
	top: 0;
	height: 100%;
	background: rgba(0, 0, 0, .7);
}

.groom-module:hover .card-mark .author,
.groom-module:hover .card-mark .play {
	opacity: 1;
}

.groom-module:hover .w-later {
	display: block;
}

.watch-later-trigger {
	display: none;
	width: 22px;
	height: 22px;
	position: absolute;
	right: 6px;
	bottom: 4px;
	cursor: pointer;
	background-image: url(../../images/main/图标1.png);
}

.recommend-module .rec-btn.prev {
	left: 20px;
	border-radius: 0 4px 4px 0;
	padding: 13px 5px 13px 10px;
	background-position: 6px -1211px;
}

.recommend-module .rec-btn.next {
	right: 0;
	border-radius: 4px 0 0 4px;
	padding: 13px 10px 13px 5px;
	background-position: 25px -1262px;
}

.recommend-module .rec-btn {
	opacity: 0;
	position: absolute;
	background-color: rgba(0, 0, 0, .6);
	background-image: url(../../images/main/icons2.png);
	background-repeat: no-repeat;
	width: 20px;
	top: 50%;
	margin-top: -8px;
	cursor: pointer;
	font-size: 12px;
	color: #fff;
	text-align: center;
	transition: all .3s;
}

.recommend-module:hover .rec-btn.prev,
.recommend-module:hover .rec-btn.next {
	opacity: 1;
}


/*------------------推荐栏-------------------*/

.popularize-module {
	padding-bottom: 15px;
}

.bili-wrapper .l-con {
	width: 720px;
}

.bili-wrapper .l-con {
	float: left;
}

.headline {
	padding: 0 0 15px;
	height: 30px;
}

.popularize-module .headline .icon_t.icon-promote {
	background-position: -141px -75px;
}

.icon_t {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	vertical-align: middle;
	float: left;
	margin-top: -10px;
}

.bili-icon,
.icon {
	display: inline-block;
	background-image: url(../../images/main/icons.png);
}

.name {
	font-size: 24px !important;
	line-height: 24px;
	font-weight: 400;
	margin-right: 20px;
	float: left;
}

.popularize-module .storey-box {
	height: 168px;
	overflow: hidden;
}

.popularize-module .storey-box .spread-module {
	float: left;
	margin: 0 20px 20px 0;
}

.spread-module {
	position: relative;
	width: 160px;
	height: 148px;
	font-size: 12px;
	overflow: hidden;
}

.pic {
	position: relative;
	width: 160px;
	height: 100px;
	display: block;
	overflow: hidden;
	text-align: center;
	border-radius: 4px;
}

.cover-preview-module {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: opacity .3s;
}

.cover-preview-module .cover {
	position: absolute;
	left: 0;
	top: 7px;
	height: 98px;
	width: 100%;
	margin-top: 2px;
}

.cover-preview-module .progress-bar {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 10px;
	border-color: #000;
	border-style: solid;
	border-width: 4px 8px;
	background: #444;
	box-sizing: border-box;
}

.cover-preview-module .progress-bar span {
	display: block;
	background: #fff;
	height: 2px;
}

.spread-module .pic .mask-video {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .2);
	transition: opacity .3s;
}

.danmu-module {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all .3s;
	pointer-events: none;
}

.spread-module .t {
	padding-top: 8px;
	height: 40px;
	line-height: 20px;
	transition: all .2s linear;
	color: #222;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
	text-align: left;
}

.spread-module:hover .w-later {
	display: block;
}

.spread-module:hover .mask-video {
	opacity: 1;
}

.spread-module .pic .dur {
	opacity: 0;
	position: absolute;
	bottom: 2px;
	left: 6px;
	color: #fff;
	height: 12px;
	line-height: 12px;
	padding: 0 5px 1px 0;
	transition: all .3s;
}

.spread-module:hover .dur {
	opacity: 1;
}

.bili-wrapper .r-con {
	width: 260px;
	float: right;
}

.popularize-module .online {
	position: relative;
	height: 34px;
	line-height: 34px;
	padding: 0 10px;
	border-radius: 4px;
	text-align: center;
	background: #e5e9ef;
	white-space: nowrap;
}

.popularize-module .online a {
	color: #6d757a;
}

.popularize-module .adpos {
	margin-top: 10px;
	border-radius: 4px;
	overflow: hidden;
	width: 260px;
	height: 150px;
	position: relative;
}

.popularize-module .adpos a {
	display: block;
}


/*-----------推广栏------------*/

.elevator-module {
	position: fixed;
	z-index: 10;
	left: 50%;
	top: 232px;
	margin-left: 500px;
	transition: top .3s;
}

.elevator-module .nav-bg {
	opacity: 0;
	top: -15px;
	right: 0;
	height: 100%;
	padding-bottom: 20px;
	width: 60px;
	position: absolute;
	background: hsla(0, 0%, 100%, .8);
	border-radius: 4px;
	overflow: hidden;
	transition: all .3s cubic-bezier(.68, -.55, .27, 1.55);
}

.elevator-module .nav-bg .tips-img {
	position: absolute;
	width: 117px;
	height: 333px;
	background: url(../../images/main/tab2233.png);
	left: 12px;
	top: 14px;
}

.elevator-module .nav-list {
	position: relative;
	background-color: #f6f9fa;
	border: 1px solid #e5e9ef;
	overflow: hidden;
	border-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	padding-top: 6px;
}

.elevator-module .nav-list .item {
	width: 48px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	transition: background-color .3s, color .3s;
	cursor: pointer;
	-ms-user-select: none;
	user-select: none;
}

.elevator-module .nav-list .customize {
	height: 16px;
	padding: 8px 0;
	border-top: 1px solid #e5e9ef;
}

.bili-icon,
.icon {
	display: inline-block;
	background-image: url(../../images/main/icons.png);
}

.elevator-module .nav-list .sortable:hover {
	background-color: #00A1D6;
	color: #FFFFFF;
}

.lazy-img {
	background: url(../../images/main/indexdianshi.png);
	width: 100%;
	height: 100%;
	display: inline-block;
}


/*-------------浮动框------------*/

.home-app-download .con {
	position: relative;
	text-align: center;
	line-height: 56px;
	font-size: 16px;
}

.home-app-download .con {
	text-align: center;
	line-height: 56px;
	font-size: 16px;
}

.home-app-download .con .btn-down {
	display: inline-block;
	width: 58px;
	line-height: 24px;
	font-size: 12px;
	height: 24px;
	border: 1px solid #fb7299;
	border-radius: 4px;
	margin-left: 20px;
	color: #fb7299;
}

.home-app-download .con .btn-close {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 20px;
	width: 13px;
	height: 13px;
	background-position: -538px -1881px;
}

.bili-icon,
.icon {
	display: inline-block;
	background-image: url(../../images/main/icons.png);
}


/*--------------------广告--------------------*/

.zone-wrap-module {
	padding-bottom: 30px;
}

.gg-floor-module {
	margin-bottom: 20px;
	position: relative;
	width: 980px;
	overflow: hidden;
	border-radius: 5px;
	max-height: 80px;
	font-size: 0;
}

.gg-floor-module .gg-pic {
	position: absolute;
	left: 0;
	bottom: 0;
}

.lazy-img img {
	display: block;
	width: 100%;
	height: 100%;
}


/*-------------------直播-------------*/

.live-module .zone-title {
	padding-right: 20px;
}

.live-module .zone-title .headline .icon_t.icon-live {
	background-position: -141px -652px;
}

.live-module .zone-title .headline .online span {
	color: #00a1d6;
}

.live-module .zone-title .headline .fire {
	margin-top: 8px;
	margin-left: 40px;
	padding-right: 10px;
	color: #6d757a;
	float: left;
}

.live-module .zone-title .headline .fire .pmt-icon {
	display: inline-block;
	vertical-align: top;
	background-position: -665px -1113px;
	width: 14px;
	height: 14px;
	margin-top: 1px;
}

.live-module .zone-title .headline .link-more {
	float: right;
	width: 52px;
	height: 22px;
	line-height: 22px;
	background-color: #fff;
	border: 1px solid #ccd0d7;
	color: #555;
	border-radius: 4px;
	text-align: center;
	margin: 0 0 0 10px;
	transition: all .2s;
}

.live-module .zone-title .headline .link-more i {
	display: inline-block;
	background-position: -478px -218px;
	width: 6px;
	height: 12px;
	margin: -2px 0 0;
	vertical-align: middle;
	transition: all .2s;
}

.live-module .zone-title .headline .read-push {
	float: right;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #ccd0d7;
	border-radius: 4px;
	height: 22px;
	padding: 0 10px;
	transition: all .2s;
}

.live-module .zone-title .headline .read-push .icon_read {
	display: inline-block;
	width: 12px;
	height: 13px;
	vertical-align: top;
	transition: all .5s;
	margin-top: 5px;
	background-position: -475px -89px;
}

.live-module .zone-title .headline .read-push .info {
	display: inline-block;
	vertical-align: top;
	line-height: 22px;
	margin-left: 5px;
}

.live-module .storey-box {
	height: 336px;
	overflow: hidden;
}

.live-module .storey-box .card-live-module {
	float: left;
	margin: 0 20px 20px 0;
}

.card-live-module {
	position: relative;
	width: 160px;
	height: 148px;
	font-size: 12px;
	overflow: hidden;
}

.card-live-module .pic .snum {
	position: absolute;
	bottom: 0;
	height: 34px;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	background: linear-gradient(transparent, transparent, rgba(0, 0, 0, .5));
}

.card-live-module .pic .snum .auther {
	white-space: nowrap;
	text-overflow: ellipsis;
	left: 4px;
	bottom: 0;
	text-align: left;
}

.card-live-module .pic .snum .online {
	right: 4px;
	text-align: right;
	bottom: 0;
}

.card-live-module .pic .snum span {
	line-height: 20px;
	height: 20px;
	display: inline-block;
	width: 47%;
	overflow: hidden;
	font-size: 12px;
	vertical-align: bottom;
	position: absolute;
	color: #fff;
	font-weight: 200;
}

.card-live-module .pic .snum .online i {
	display: inline-block;
	width: 13px;
	height: 10px;
	vertical-align: baseline;
	margin-right: 5px;
	background: url(../../images/main/touxiang.png);
}

.card-live-module .pic .mask {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	transition: opacity .3s;
	background-repeat: no-repeat;
	background-color: #000;
	background-position: 50%;
	background-size: contain;
}

.card-live-module .t {
	padding-top: 8px;
	height: 40px;
	line-height: 20px;
	transition: all .2s linear;
	color: #222;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
	text-align: left;
}

.card-live-module .num {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 20px;
	line-height: 20px;
	color: #9ba3ab;
	background-color: #fff;
	transition: all .3s;
}

.bili-tab {
	overflow: hidden;
	zoom: 1;
}

.bili-tab .bili-tab-item {
	float: left;
	position: relative;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	padding: 1px 0 2px;
	border-bottom: 1px solid transparent;
	margin-left: 12px;
	transition: .2s;
	transition-property: all;
	transition-property: border, color;
}

.bili-tab .bili-tab-item.on {
	background-color: transparent;
	border-color: #00a1d6;
	color: #00a1d6;
}

.live-module .tab-box .tab-con {
	width: 780px;
	transition: all .3s;
}

.live-module .tab-box .tab-con .tab-item {
	width: 260px;
	float: left;
}

.live-module .tab-box .tab-con .tab-item .r-item {
	overflow: hidden;
	position: relative;
	margin: 0 0 14px;
}

.live-module .tab-box .tab-con .tab-item.rank .r-item {
	padding-left: 25px;
}

.live-module .tab-box .tab-con .tab-item .r-item .number {
	position: absolute;
	color: #fff;
	height: 18px;
	line-height: 18px;
	top: 0;
	left: 0;
	font-size: 12px;
	min-width: 12px;
	text-align: center;
	background-color: #b8c0cc;
	z-index: 20;
	border-radius: 4px;
	padding: 0 3px;
	font-weight: bolder;
	float: left;
	margin-right: 6px;
}

.live-module .tab-box .tab-con .tab-item .r-item .preview {
	display: block;
	float: left;
	position: relative;
	margin-right: 12px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}

.live-module .tab-box .tab-con .tab-item .r-item .r-i {
	float: left;
	width: 180px;
}

.live-module .tab-box .tab-con .tab-item .r-item:first-child .number,
.live-module .tab-box .tab-con .tab-item .r-item:nth-child(2) .number,
.live-module .tab-box .tab-con .tab-item .r-item:nth-child(3) .number {
	background-color: #f25d8e;
}

.live-module .tab-box .tab-con .tab-item .r-item .r-i-t {
	line-height: 16px;
	overflow: hidden;
}

.live-module .tab-box .tab-con .tab-item .r-item .r-i-t .u-name {
	max-width: 135px;
	float: left;
	color: #222;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.live-module .tab-box .tab-con .tab-item .r-item .r-i-t .u-online {
	max-width: 60px;
	float: right;
	color: #99a2aa;
	line-height: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.live-module .tab-box .tab-con .tab-item .r-item .r-i-t .u-online i {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	margin-top: -2px;
	margin-right: 3px;
	background: url(//s1.hdslb.com/bfs/static/jinkela/home/asserts/live-eye.png) no-repeat;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style: normal;
	font-weight: 400;
}

.live-module .tab-box .tab-con .tab-item .r-item .r-i-st {
	margin-top: 4px;
	color: #99a2aa;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 190px;
}


/*----------未登录时推荐下载app----------*/

.home-app-download {
	position: fixed;
	bottom: 0px;
	height: 56px;
	z-index: 3000;
	bottom: 0px;
	background-color: #fff;
	width: 100%;
}

.live-module .zone-title .headline .online {
	float: left;
	margin-top: 8px;
	color: #99a2aa;
}

.bili-wrapper {
	width: 980px;
	margin: 0px auto;
}

.report-wrap-module {
	position: fixed;
	left: 50%;
	z-index: 10;
	transition: top .3s;
}

.footer {
	font: 12px 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
	position: relative;
	margin: 0;
	padding: 0;
	background-color: #666666;
	padding: 20px 0;
}


/*-----------------个人中心----------------------*/

.security_content {
	overflow: hidden;
	width: 980px;
	height: 100%;
	margin: 10px auto 100px;
	border: 1px solid #e1e2e5;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .14);
	background: #fafafa;
	border-radius: 4px;
}

.security-left {
	float: left;
	width: 150px;
	height: 100%;
	overflow: hidden;
}

.security-title {
	display: block;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color: #99a2aa;
	cursor: default;
	border-bottom: 1px solid #e1e2e5;
}

.security-ul {
	border-bottom: 1px solid #e1e2e5;
}

.security-list {
	width: 150px;
	height: 48px;
	line-height: 48px;
}

.security-icon {
	vertical-align: middle;
	display: inline-block;
	width: 18px;
	height: 36px;
	margin-left: 32px;
	background: url(https://s1.hdslb.com/bfs/static/account-fe/static/img/icons_m_2.57e5263.png);
	background-position-x: 0%;
	background-position-y: 0%;
}

.icon-3 {
	background-position: -23px -80px;
}

.security-left .on .icon-3 {
	background-position: -87px -80px !important;
}

.security-nav-name {
	margin-left: 12px;
	font-size: 14px;
	color: #222;
}

.security-right {
	float: left;
	width: 829px;
	border-left: 1px solid #ddd;
	background: #fff;
	min-height: 890px !important;
}

.security-right-title {
	height: 50px;
	padding-left: 30px;
	border-bottom: 1px solid #ddd;
}

.security-right-title-icon {
	float: left;
	width: 4px;
	height: 16px;
	margin-top: 18px;
	background-color: #00a1d6;
	border-radius: 4px;
}

.security-right-title-text {
	float: left;
	margin: 15px 0 0 5px;
	color: #00a1d6;
	font-size: 14px;
	cursor: default;
}

.user-setting-warp {
	padding: 20px 20px 0;
	position: relative;
}

.face-tool {
	padding: 20px 0;
}

.tool-container {
	width: 200px;
	height: 200px;
	border: 1px solid #e5e9ef;
	border-radius: 50%;
	position: relative;
	margin: 0 auto;
}

.tool-change-face,
.tool-uninstall-pendant {
	width: 54px;
	height: 54px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 50%;
	cursor: pointer;
}

.tool-change-face {
	background: #00a1d6;
	border: 1px solid #00a1d6;
	position: absolute;
	left: -27px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.tool-change-face span,
.tool-uninstall-pendant span {
	width: 2em;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.tool-change-face span:hover {
	color: #FFFFFF;
}

.tool-face-box {
	width: 168px;
	height: 168px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.tool-user-face {
	width: 96px;
	height: 96px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.user-local,
.user-my-aim,
.user-my-btn,
.user-my-date,
.user-my-love,
.user-my-sex,
.user-my-sign,
.user-nick-name,
.user-nick-rel-name {
	float: left;
	width: 789px;
}

.el-breadcrumb::after,
.el-breadcrumb::before,
.el-button-group::after,
.el-button-group::before,
.el-form-item::after,
.el-form-item::before,
.el-form-item__content::after,
.el-form-item__content::before {
	display: table;
	content: "";
}

.el-form-item__label {
	width: 95px;
	text-align: right;
	margin-right: 20px;
	float: left;
	line-height: 30px;
	padding: 0;
	font-size: 14px;
	color: #48576a;
}
.el-form-item__content {
    line-height: 30px;
    position: relative;
    font-size: 14px;
}
.el-form-item {
    margin-bottom: 22px;
}
.user-nick-name .el-input, .user-nick-name .el-input__inner {
    float: left;
    width: 225px;
    height: 30px;
    margin-right: 40px;
}
.el-input {
    position: relative;
    font-size: 14px;
}
.el-input, .el-input__inner {
    width: 100%;
    display: inline-block;
}
.el-input__inner:hover {
    border-color: #8391a5;
}
.el-input__inner {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
        border-top-color: rgb(191, 203, 217);
        border-right-color: rgb(191, 203, 217);
        border-bottom-color: rgb(191, 203, 217);
        border-left-color: rgb(191, 203, 217);
    box-sizing: border-box;
    color: #1f2d3d;
    font-size: inherit;
    height: 36px;
    line-height: 1;
    outline: 0;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.el-input__inner:focus {
    outline: 0;
    border-color: #20a0ff;
}
.userinfo-username {
    font-size: 14px;
    color: #898989;
}
.el-radio-group {
    display: inline-block;
    font-size: 0;
}
.el-radio-button__inner, .el-radio-group, .el-radio__input {
    line-height: 1;
    vertical-align: middle;
}
.el-radio-button, .el-radio-button__inner {
    position: relative;
    display: inline-block;
}

.el-radio-button__orig-radio {
    opacity: 0;
    outline: 0;
    position: absolute;
    z-index: -1;
    left: -999px;
}
.is-active{
	background-color: #22a1d6 !important;
    border-color: #22a1d6 !important;
    color: #FFFFFF !important;
}
.user-my-sex .el-radio-button__inner {
	cursor: pointer;
    margin-right: 20px;
    padding: 5px 8px;
    border: 1px solid #bfcbd9;
    border-radius: 5px !important;
    background: #f4f4f4;
    color: #717171;
	font-size: 14px;
}
.el-date-editor.el-input {
	width: 193px;
}
 .el-input {
	 position: relative;
	 font-size: 14px;
 }
 .el-input, .el-input__inner {
	 width: 100%;
	 display: inline-block;
 }
 .el-date-editor {
	 position: relative;
	 display: inline-block;
 }
.el-input__icon {
	position: absolute;
	width: 35px;
	height: 100%;
	right: 0;
	top: 0;
	text-align: center;
	color: #bfcbd9;
	transition: all .3s;
}
.user-my-date .el-input__inner {
	height: 30px;
	color: #b7b7b7;
}
 .el-input__icon+.el-input__inner {
	 padding-right: 35px;
 }
 .el-input__inner {
	 -webkit-appearance: none;
	 -moz-appearance: none;
	 appearance: none;
	 background-color: #fff;
	 background-image: none;
	 border-radius: 4px;
	 border: 1px solid #bfcbd9;
	 box-sizing: border-box;
	 color: #1f2d3d;
	 font-size: inherit;
	 height: 36px;
	 line-height: 1;
	 outline: 0;
	 padding: 3px 10px;
	 transition: border-color .2s cubic-bezier(.645,.045,.355,1);
 }
.user-setting-warp .padding-dom {
	width: 789px;
	height: 39px;
	border-bottom: 1px solid #e5e9ef;
	margin-bottom: 40px;
}
.user-my-btn-warp {
	float: left;
	width: 789px;
	height: 36px;
	position: relative;
}
.el-button{
	position: absolute;
	top:50%;
	left: 50%;
	color: #FFFFFF;
	background: #00a1d6!important;
	text-align: center;
	white-space: nowrap;
	margin: 0;
	padding: 10px 15px;
	border-radius: 4px;
	display: inline-block;
	line-height: 1;
	cursor: pointer;
	border: 1px solid #c4c4c4;
	width: 110px;
	font-size: 14px;
}
.el-button:hover{
	background-color: #00b5e5!important;
}