<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.StatusMapper" >
  <resultMap id="BaseResultMap" type="org.lanqiao.entity.Status" >
    <id column="status_id" property="statusId" jdbcType="VARCHAR" />
    <result column="status_alias1" property="statusAlias1" jdbcType="VARCHAR" />
    <result column="status_alias2" property="statusAlias2" jdbcType="VARCHAR" />
    <result column="status_class" property="statusClass" jdbcType="INTEGER" />
    <result column="status_desc" property="statusDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    status_id, status_alias1, status_alias2, status_class, status_desc
  </sql>

  <select id="selectAllType1" resultType="java.lang.String" >
    select
    distinct status_alias1
    from status
    where status_class = 2
  </select>
  <select id="selectType2ByType1" resultType="java.lang.String" parameterType="java.lang.String" >
    select
    status_alias2
    from status
    where status_alias1 = #{type1}
  </select>
  <select id="selectIdByType" resultType="java.lang.String" parameterType="org.lanqiao.entity.Status" >
    select
    status_id
    from status
    where status_alias1 = #{statusAlias1} and status_alias2 = #{statusAlias2}
  </select>
  <select id="countType1" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select
    count(*)
    from status
    where status_alias1 = #{type1} and status_class = 2
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from status
    where status_id = #{statusId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.lanqiao.entity.Status" >
    insert into status (status_id, status_alias1, status_alias2, 
      status_class, status_desc)
    values (#{statusId,jdbcType=VARCHAR}, #{statusAlias1,jdbcType=VARCHAR}, #{statusAlias2,jdbcType=VARCHAR}, 
      #{statusClass,jdbcType=INTEGER}, #{statusDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.entity.Status" >
    insert into status
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="statusId != null" >
        status_id,
      </if>
      <if test="statusAlias1 != null" >
        status_alias1,
      </if>
      <if test="statusAlias2 != null" >
        status_alias2,
      </if>
      <if test="statusClass != null" >
        status_class,
      </if>
      <if test="statusDesc != null" >
        status_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="statusId != null" >
        #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="statusAlias1 != null" >
        #{statusAlias1,jdbcType=VARCHAR},
      </if>
      <if test="statusAlias2 != null" >
        #{statusAlias2,jdbcType=VARCHAR},
      </if>
      <if test="statusClass != null" >
        #{statusClass,jdbcType=INTEGER},
      </if>
      <if test="statusDesc != null" >
        #{statusDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.entity.Status" >
    update status
    <set >
      <if test="statusAlias1 != null" >
        status_alias1 = #{statusAlias1,jdbcType=VARCHAR},
      </if>
      <if test="statusAlias2 != null" >
        status_alias2 = #{statusAlias2,jdbcType=VARCHAR},
      </if>
      <if test="statusClass != null" >
        status_class = #{statusClass,jdbcType=INTEGER},
      </if>
      <if test="statusDesc != null" >
        status_desc = #{statusDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where status_id = #{statusId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lanqiao.entity.Status" >
    update status
    set status_alias1 = #{statusAlias1,jdbcType=VARCHAR},
      status_alias2 = #{statusAlias2,jdbcType=VARCHAR},
      status_class = #{statusClass,jdbcType=INTEGER},
      status_desc = #{statusDesc,jdbcType=VARCHAR}
    where status_id = #{statusId,jdbcType=VARCHAR}
  </update>
</mapper>