<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.VideoMapper" >
  <resultMap id="BaseResultMap" type="org.lanqiao.entity.Video" >
    <id column="video_id" property="videoId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="video_title" property="videoTitle" jdbcType="VARCHAR" />
    <result column="video_pic" property="videoPic" jdbcType="VARCHAR" />
    <result column="video_desc" property="videoDesc" jdbcType="VARCHAR" />
    <result column="video_url" property="videoUrl" jdbcType="VARCHAR" />
    <result column="up_time" property="upTime" jdbcType="TIMESTAMP" />
    <result column="video_time" property="videoTime" jdbcType="TIMESTAMP" />
    <result column="play_num" property="playNum" jdbcType="INTEGER" />
    <result column="like_num" property="likeNum" jdbcType="INTEGER" />
    <result column="danmu_num" property="danmuNum" jdbcType="INTEGER" />
    <result column="collection_num" property="collectionNum" jdbcType="INTEGER" />
    <result column="coin_num" property="coinNum" jdbcType="INTEGER" />
    <result column="class_type" property="classType" jdbcType="VARCHAR" />
    <result column="is_review" property="isReview" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="VideoResultMap" type="org.lanqiao.entity.Video" >
    <id column="video_id" property="videoId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="video_title" property="videoTitle" jdbcType="VARCHAR" />
    <result column="video_pic" property="videoPic" jdbcType="VARCHAR" />
    <result column="video_desc" property="videoDesc" jdbcType="VARCHAR" />
    <result column="video_url" property="videoUrl" jdbcType="VARCHAR" />
    <result column="up_time" property="upTime" jdbcType="TIMESTAMP" />
    <result column="video_time" property="videoTime" jdbcType="TIMESTAMP" />
    <result column="play_num" property="playNum" jdbcType="INTEGER" />
    <result column="like_num" property="likeNum" jdbcType="INTEGER" />
    <result column="danmu_num" property="danmuNum" jdbcType="INTEGER" />
    <result column="collection_num" property="collectionNum" jdbcType="INTEGER" />
    <result column="coin_num" property="coinNum" jdbcType="INTEGER" />
    <result column="class_type" property="classType" jdbcType="VARCHAR" />
    <result column="is_review" property="isReview" jdbcType="VARCHAR" />
    <association property="status" javaType="org.lanqiao.entity.Status">
      <id column="status_id" property="statusId" jdbcType="VARCHAR" />
      <result column="status_alias1" property="statusAlias1" jdbcType="VARCHAR" />
      <result column="status_alias2" property="statusAlias2" jdbcType="VARCHAR" />
      <result column="status_class" property="statusClass" jdbcType="INTEGER" />
      <result column="status_desc" property="statusDesc" jdbcType="VARCHAR" />
    </association>
    <association property="userInfo" resultMap="UserInfoResultMap"></association>
  </resultMap>
  <resultMap id="UserInfoResultMap" type="org.lanqiao.entity.UserInfo" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_passw" property="userPassw" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="user_birthday" property="userBirthday" jdbcType="DATE" />
    <result column="user_sex" property="userSex" jdbcType="VARCHAR" />
    <result column="user_regtime" property="userRegtime" jdbcType="TIMESTAMP" />
    <result column="user_tele" property="userTele" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
    <result column="user_picadress" property="userPicadress" jdbcType="VARCHAR" />
    <result column="user_coin" property="userCoin" jdbcType="INTEGER" />
    <result column="user_role" property="userRole" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectUploadVideo" resultMap="VideoResultMap" parameterType="java.lang.Integer">
    select *
    from video v, status s
    where v.user_id = #{userId,jdbcType=INTEGER} and s.status_id = v.class_type
    order by v.up_time
    desc
  </select>

  <select id="countIsReview" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select count(*)
    from video
    where is_review = #{isReview}
  </select>
  <select id="selectVideoByIsReview" resultMap="VideoResultMap">
    select *
    from video v, status s
    where v.user_id = #{userId} and v.is_review = #{isReview} and s.status_id = v.class_type
    order by v.up_time
    desc
  </select>

  <sql id="Base_Column_List" >
    video_id, user_id, video_title, video_pic, video_desc, video_url, up_time, video_time, 
    play_num, like_num, danmu_num, collection_num, coin_num, class_type, is_review
  </sql>

  <select id="selectUpInfo" resultMap="VideoResultMap" parameterType="java.lang.Integer">
    select *
    from video v,user_info u
    where v.user_id=u.user_id and v.video_id = #{videoId}
  </select>

  <select id="selectVideoUpload" resultMap="VideoResultMap" parameterType="java.lang.Integer">
    select *
    from video v,user_info u
    where v.user_id = #{userId,jdbcType=INTEGER} and u.user_id=v.user_id
  </select>
  <select id="selectByPrimaryKey" resultMap="VideoResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from video
    where video_id = #{videoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from video
    where video_id = #{videoId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="org.lanqiao.entity.Video" >
    insert into video
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="videoId != null" >
        video_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="videoTitle != null" >
        video_title,
      </if>
      <if test="videoPic != null" >
        video_pic,
      </if>
      <if test="videoDesc != null" >
        video_desc,
      </if>
      <if test="videoUrl != null" >
        video_url,
      </if>
      <if test="upTime != null" >
        up_time,
      </if>
      <if test="videoTime != null" >
        video_time,
      </if>
      <if test="playNum != null" >
        play_num,
      </if>
      <if test="likeNum != null" >
        like_num,
      </if>
      <if test="danmuNum != null" >
        danmu_num,
      </if>
      <if test="collectionNum != null" >
        collection_num,
      </if>
      <if test="coinNum != null" >
        coin_num,
      </if>
      <if test="classType != null" >
        class_type,
      </if>
      <if test="isReview != null" >
        is_review,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="videoId != null" >
        #{videoId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="videoTitle != null" >
        #{videoTitle,jdbcType=VARCHAR},
      </if>
      <if test="videoPic != null" >
        #{videoPic,jdbcType=VARCHAR},
      </if>
      <if test="videoDesc != null" >
        #{videoDesc,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null" >
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="upTime != null" >
        #{upTime,jdbcType=TIMESTAMP},
      </if>
      <if test="videoTime != null" >
        #{videoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="playNum != null" >
        #{playNum,jdbcType=INTEGER},
      </if>
      <if test="likeNum != null" >
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="danmuNum != null" >
        #{danmuNum,jdbcType=INTEGER},
      </if>
      <if test="collectionNum != null" >
        #{collectionNum,jdbcType=INTEGER},
      </if>
      <if test="coinNum != null" >
        #{coinNum,jdbcType=INTEGER},
      </if>
      <if test="classType != null" >
        #{classType,jdbcType=VARCHAR},
      </if>
      <if test="isReview != null" >
        #{isReview,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="videoId">
      select LAST_INSERT_ID() as videoId
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.entity.Video" >
    update video
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="videoTitle != null" >
        video_title = #{videoTitle,jdbcType=VARCHAR},
      </if>
      <if test="videoPic != null" >
        video_pic = #{videoPic,jdbcType=VARCHAR},
      </if>
      <if test="videoDesc != null" >
        video_desc = #{videoDesc,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null" >
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="upTime != null" >
        up_time = #{upTime,jdbcType=TIMESTAMP},
      </if>
      <if test="videoTime != null" >
        video_time = #{videoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="playNum != null" >
        play_num = #{playNum,jdbcType=INTEGER},
      </if>
      <if test="likeNum != null" >
        like_num = #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="danmuNum != null" >
        danmu_num = #{danmuNum,jdbcType=INTEGER},
      </if>
      <if test="collectionNum != null" >
        collection_num = #{collectionNum,jdbcType=INTEGER},
      </if>
      <if test="coinNum != null" >
        coin_num = #{coinNum,jdbcType=INTEGER},
      </if>
      <if test="classType != null" >
        class_type = #{classType,jdbcType=VARCHAR},
      </if>
      <if test="isReview != null" >
        is_review = #{isReview,jdbcType=VARCHAR},
      </if>
    </set>
    where video_id = #{videoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lanqiao.entity.Video" >
    update video
    set user_id = #{userId,jdbcType=INTEGER},
      video_title = #{videoTitle,jdbcType=VARCHAR},
      video_pic = #{videoPic,jdbcType=VARCHAR},
      video_desc = #{videoDesc,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      up_time = #{upTime,jdbcType=TIMESTAMP},
      video_time = #{videoTime,jdbcType=TIMESTAMP},
      play_num = #{playNum,jdbcType=INTEGER},
      like_num = #{likeNum,jdbcType=INTEGER},
      danmu_num = #{danmuNum,jdbcType=INTEGER},
      collection_num = #{collectionNum,jdbcType=INTEGER},
      coin_num = #{coinNum,jdbcType=INTEGER},
      class_type = #{classType,jdbcType=VARCHAR},
      is_review = #{isReview,jdbcType=VARCHAR}
    where video_id = #{videoId,jdbcType=INTEGER}
  </update>
</mapper>